<div id="app" class="wrapper">
  <div class="game-wrapper">
    <div class="header">
      <img class="header__image" src="assets/scuttle.png" alt="scuttles"/>
      <div class="header__title">Scuttles</div>
      <div class="header__made-by">Made by: viddrawings</div>
    </div>

    <!--    <div>-->
    <!--      <label for="gameName">add game</label>-->
    <!--      <input id="gameName" [ngModel]="data.newGameName" (keydown.enter)="addGame(data)">-->
    <!--    </div>-->

    <!--    <div *ngFor="let game of data.games; let index = index;">-->
    <!--      <h4>Game: {{game.name}}</h4>-->
    <!--      <button (click)="data.games.splice(index,1)">-->
    <!--        <mat-icon>-->
    <!--          delete-->
    <!--        </mat-icon>-->
    <!--      </button>-->

    <!--      <div>-->
    <!--        <h4>Players</h4>-->
    <!--        <label>add player</label>-->
    <!--        <input [ngModel]="game.newPlayerName" (keydown)="addPlayer(game)">-->

    <!--        <div *ngFor="let player of game.players; let index = index;">-->
    <!--          {{ player.name }} - {{ formatPoints(player.points) }}-->
    <!--          <button [disabled]="player.points < 1" (click)="bet(player, true)">win</button>-->
    <!--          <button [disabled]="player.points < 1" (click)="bet(player, false)">lose</button>-->
    <!--          <button (click)="cancelBet(player)">cancel</button>-->
    <!--          &lt;!&ndash;   todo     <input [ngModel]="points" (keydown)="givePointsToPlayer(player, points)"></input>&ndash;&gt;-->
    <!--          <button (click)="game.players.splice(index, 1)">delete</button>-->
    <!--        </div>-->
    <!--      </div>-->

    <!--      <div>-->
    <!--        <h4>bets</h4>-->
    <!--        <div *ngFor="let player of game.players">-->
    <!--          <div *ngIf="player.bet.win !== null">-->
    <!--            {{player.name}} - -->
    <!--            {{formatPoints(player.bet.points)}} - -->
    <!--            <span *ngIf="player.bet.win">win</span>-->
    <!--            <span *ngIf="!player.bet.win">lose</span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <button (click)="payOut(game, true)">win</button>-->
    <!--        <button (click)="payOut(game, false)">lose</button>-->
    <!--      </div>-->

    <!--      <div>-->
    <!--        <div>-->
    <!--          <h4>log</h4>-->
    <!--          <div *ngFor="let bet of game.betLog">-->
    <!--            {{bet}}-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <hr>-->
    <!--      <button (click)="saveToLocalStorage(data.games)">save</button>-->
    <!--      <button (click)="loadFromLocalStorage(data.games)">load</button>-->
    <!--    </div>-->
  </div>
</div>
