<div class="wrapper">
    <div class="header">
      <img class="header__image" src="assets/scuttle.png" alt="scuttles"/>
      <div class="header__title">
        Scuttles
      </div>
      <div class="header__subtitle">
        Made by: viddrawings
      </div>
    </div>

  <div class="game-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label>Game name:</label>
      <input formControlName="gameName" (keydown.enter)="onGameName($event)"/>

      <div class="teams">
        <div class="team-blue">
          <div>Blue team</div>

          <div *ngFor="let playerBlueTeam of playersBlueTeam">
            <div class="list-group-item">
              <div [formGroup]="playerBlueTeam">
                <label>Player</label>
                <input type="text" formControlName="playerNameBlueTeam"/>
                <input type="number" formControlName="playerGivePointsBlueTeam"/>
                <button>Win</button>
                <button>Lose</button>
                <button>
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div class="bet-buttons">
            <button class="first-blood"></button>
            <button class="drake"></button>
          </div>
        </div>

        <div class="team-red">
          <div>Red team</div>

          <div *ngFor="let playerRedTeam of playersRedTeam">
            <div class="list-group-item">
              <div [formGroup]="playerRedTeam">
                <label>Player</label>
                <input type="text" formControlName="playerNameRedTeam"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bets">
        <div>
          Current bets
        </div>
      </div>

      <div class="scoreboard">
        <div>Scoreboard</div>
      </div>
    </form>
  </div>
</div>
